body{
    font-family: 'Barlow Semi Condensed', sans-serif;
    background-color: #e8e8e8;
    
}

/* #background{
  Position: fixed;
  background-image: url(Resources/BodyBackground.jpg);
  
} */
#nameHeader{
  color: white;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
               0px 8px 13px rgba(0,0,0,0.1),
               0px 18px 23px rgba(0,0,0,0.1);
}

.text-responsive {
  font-size: calc(100% + 1vw + 1vh);
}

#skillButtons{
  background:white;
}
  #skillButtons:hover{
    background:#fce8fc;
    font-weight: bold;
    
  }
 
  #socialIcons{
    font-size: 25px; 
    color: #4f4f4f;
  }

#socialIcons:hover{
    color: black;
}

#skills-buttons{
  height: 500px;
  text-align: center;
  border-bottom: solid, black, 1px;
  margin-bottom: 40px;
}

#overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

#cardContainer:hover #overlay {
  opacity: 1;
}

#text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}


















